
body{
    width: 100vw;
    height: 100vh;
    margin: 0%;

}

.champDeBataille{

    display: flex;
    flex-direction: row;


}

/* Le setting de la barre de vie }*/

.monstre1{

    visibility: hidden;
    width: 160px;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    padding: 5px;
    position: relative;
    z-index: 1;

}

.monstre2{

    visibility: hidden;
    width: 160px;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    padding: 5px;
    position: relative;
    z-index: 1;

}

.monstre3{

    visibility: hidden;
    width: 160px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border-radius: 6%;
    padding: 5px;
    position: relative;
    z-index: 1;

}

/* La visibiliter de la barre de vie }*/
.barrePv:hover .monstre1{

    visibility: visible;

}

.barrePv2:hover .monstre2{

    visibility: visible;

}

.barrePv3:hover .monstre3{

    visibility: visible;

}


.boitePvHeros .barreHero1{

    visibility: hidden;
    width: 100px;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    padding: 5px;
    position: absolute;
    z-index: 1;

}

.boitePvHeros:hover .barreHero1{

    visibility: visible;

}

.boitePvHeros .barreHero2{

    visibility: hidden;
    width: 100px;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    padding: 5px;
    position: absolute;
    z-index: 1;

}

.boitePvHeros:hover .barreHero2{

    visibility: visible;

}

.boitePvHeros .barreHero3{

    visibility: hidden;
    width: 100px;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    padding: 5px;
    position: absolute;
    z-index: 1;

}

.boitePvHeros:hover .barreHero3{

    visibility: visible;

}

.boitePvHeros .barreHero4{

    visibility: hidden;
    width: 100px;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    padding: 5px;
    position: absolute;
    z-index: 1;

}

.boitePvHeros:hover .barreHero4{

    visibility: visible;

}


.herosSprite{

    padding: 1% 10% 10% 70%; 
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;

}

.tropPetit{
    height: 250px;
    width: 250px;

}

.boiteHeros {

    position: fixed; 
    padding: 10px 10px 10px 10px; 
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 200px; 
    background: rgb(88, 87, 87); 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.heros1 {

    padding: 10px 10px 10px 10px; 
    bottom: 0;
    left: 0;
    width: 20%; 
    height: 180px; 
    background: rgb(136, 57, 57); 

}

.heros2 {

    padding: 10px 10px 10px 10px; 
    bottom: 0;
    left: 0;
    width: 20%; 
    height: 180px; 
    background: rgb(136, 57, 57); 

}

.heros3 {

    padding: 10px 10px 10px 10px; 
    bottom: 0;
    left: 0;
    width: 20%; 
    height: 180px; 
    background: rgb(136, 57, 57); 

}

.heros4 {

    padding: 10px 10px 10px 10px; 
    bottom: 0;
    left: 0;
    width: 20%; 
    height: 180px; 
    background: rgb(136, 57, 57); 

}


.monstresSprite{

    padding: 1% 1% 1% 1%; 
    display: flex;
    flex-direction: column;
    width: 250px; 
    height: 150px;
}


/* Les boites et les sprite d'animations des monstres }*/
#container {

    width: 400px;
    height: 400px;
    position: relative;
}


#animate {
    
    padding: 1% 10% 10% 10%; 
    width: 100px;
    height: 100px;
    position: absolute;

}

#animate2 {
    
    padding: 180px 10% 10% 10%; 
    width: 100px;
    height: 100px;
    position: absolute;

}

#animate3 {
    
    padding: 350px 10% 10% 10%; 
    width: 100px;
    height: 100px;
    position: absolute;

}


/* Les boites et les sprite d'animations des héros }*/
#container2 {

    width: 4000px;
    height: 4000px;
    position: relative;
}

#animate4 {
    
    padding: 1% 10% 10% 830px; 
    width: 100px;
    height: 100px;
    position: absolute;

}

#animate5 {
    
    padding: 120px 10% 10% 25px; 
    width: 100px;
    height: 100px;
    position: absolute;

}

#animate6 {
    
    padding: 500px 10% 10% 25px; 
    width: 100px;
    height: 100px;
    position: absolute;

}

#animate7 {
    
    padding: 300px 10% 10% 25px; 
    width: 100px;
    height: 100px;
    position: absolute;

}