
body{
    width: 100vw;
    height: 100vh;

}

.champDeBataille{

    display: flex;
    flex-direction: row;

}

/*.boiteMonstres{

    background: url(img/mob01.png);
    height: 150px;
    width: 150px;
}*/

.boiteMonstres .monstre1{

    visibility: hidden;
    width: 100px;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    padding: 5px;
    position: absolute;
    z-index: 1;

}

.boiteMonstres .monstre2{

    visibility: hidden;
    width: 100px;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    padding: 5px;
    position: absolute;
    z-index: 1;

}

.boiteMonstres .monstre3{

    visibility: hidden;
    width: 100px;
    background-color: black;
    color: aliceblue;
    border-radius: 2%;
    padding: 5px;
    position: absolute;
    z-index: 1;

}

.herosSprite{

    padding: 1% 10% 10% 70%; 
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 150px;

}

.tropPetit{
    height: 250px;
    width: 250px;

}

.boiteHeros {

    position: fixed; 
    padding: 10px 10px 10px 10px; 
    bottom: 0;
    left: 0;
    width: 100%; 
    height: 200px; 
    background: rgb(88, 87, 87); 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.heros1 {

    padding: 10px 10px 10px 10px; 
    bottom: 0;
    left: 0;
    width: 20%; 
    height: 180px; 
    background: rgb(136, 57, 57); 

}

.heros2 {

    padding: 10px 10px 10px 10px; 
    bottom: 0;
    left: 0;
    width: 20%; 
    height: 180px; 
    background: rgb(136, 57, 57); 

}

.heros3 {

    padding: 10px 10px 10px 10px; 
    bottom: 0;
    left: 0;
    width: 20%; 
    height: 180px; 
    background: rgb(136, 57, 57); 

}

.heros4 {

    padding: 10px 10px 10px 10px; 
    bottom: 0;
    left: 0;
    width: 20%; 
    height: 180px; 
    background: rgb(136, 57, 57); 

}


.monstresSprite{

    padding: 5% 1% 1% 1%; 
    display: flex;
    flex-direction: column;
    width: 100%; 
    height: 200px; 
}


.boiteMonstres:hover .monstre1{

    visibility: visible;

}

.boiteMonstres:hover .monstre2{

    visibility: visible;

}

.boiteMonstres:hover .monstre3{

    visibility: visible;

}